# This is going to Be Rigs domain : Do not touch

## What are the trends regarding student housing across the city, by district, e.g. what % of the rental housing is taken up by students for each district and how has this changed over time?

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load data, ready for cleaning and drop obvious not needed columsn 
df = pd.read_csv('StudentAddresses(UP).csv', low_memory=False)
df = df.drop(columns=['6d. unit #'])
df = df.drop(columns=['9. at-home or not-at-home'])
df['full_address'] = df['6a. street #'].astype(str) + ' ' + \
                     df['6b. street name'] + ' ' + \
                     df['6c. street suffix'] + ', ' + \
                     df['6e. zip'].astype(str)
df['full_address'] = df['6a. street #'].astype(str) + ' ' + \
                     df['6b. street name'] + ' ' + \
                     df['6c. street suffix'] + ', ' + \
                     df['6e. zip'].astype(str)

print(df[['full_address']])

df = df.drop(columns=['6a. street #'])
df = df.drop(columns=['6b. street name'])
df = df.drop(columns=['6c. street suffix'])
df = df.drop(columns=['6e. zip'])

# dropping the NaN values: 
df_cleaned = df[~df['full_address'].str.contains('nan', case=False)].reset_index(drop=True)

# Display cleaned DataFrame
print(df_cleaned)
# Display the first few rows to check 
# 
df.head()

                       full_address
0               10 Higgins ST, 2134
1               10 Higgins ST, 2134
2       1189 Commonwealth AVE, 2134
3            12 Glenville AVE, 2134
4            12 Glenville AVE, 2134
...                             ...
310326                          NaN
310327                          NaN
310328         15 SYMPHONY RD, 2215
310329    37 PAUL GORE STREET, 2130
310330    300 HARRISON AVENUE, 2118

[310331 rows x 1 columns]

,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. 5 or more undergrads/unit (y/n),university,year,full_address
0,U,FT,NaN,Emmanuel College,2018-2019,"10 Higgins ST, 2134"
1,U,FT,NaN,Emmanuel College,2018-2019,"10 Higgins ST, 2134"
2,U,FT,NaN,Emmanuel College,2018-2019,"1189 Commonwealth AVE, 2134"
3,U,FT,NaN,Emmanuel College,2018-2019,"12 Glenville AVE, 2134"
4,U,FT,NaN,Emmanuel College,2018-2019,"12 Glenville AVE, 2134"

                       full_address
0               10 Higgins ST, 2134
1               10 Higgins ST, 2134
2       1189 Commonwealth AVE, 2134
3            12 Glenville AVE, 2134
4            12 Glenville AVE, 2134
...                             ...
310326                          NaN
310327                          NaN
310328         15 SYMPHONY RD, 2215
310329    37 PAUL GORE STREET, 2130
310330    300 HARRISON AVENUE, 2118

[310331 rows x 1 columns]

### First job is to cluster the people together of the same district:

We are going to first start by converting our address into